:root {
  --color-background-card: #684bb1;
  --color-text: #ffffff;
  --color-hover: #e880e8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

h1,
h2,
p {
  margin: 0;
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
}

main {
  display: grid;
  place-items: center;
}

.card {
  background-color: var(--color-background-card);
  display: grid;
  grid-template-columns: 23.4375rem;
  grid-template-rows: repeat(2, 25rem);
}

.card__background--mobile {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background: url(../images/bg-mobile.svg);
  height: 100%;
  width: 100%;
}

.card__background--desktop {
  background: none;
}

.card__container-top {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding-left: 2.5rem;
  padding-right: 2.4375rem;
}

.card__logo {
  height: 2rem;
  margin-bottom: 3.5rem;
  margin-top: 2.3875rem;
  width: 7.5rem;
}

.card__mockup {
  width: 100%;
}

.content__container {
  align-items: center;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  margin-left: 2.25rem;
  margin-right: 2.1875rem;
  text-align: center;
}

.content__heading {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.25rem;
  margin-bottom: 1rem;
  width: 17.5rem;
}

.content__text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0 0.7rem;
}

.content__button {
  background-color: var(--color-text);
  border-radius: 1.25rem;
  border: none;
  color: var(--color-background-card);
  cursor: pointer;
  display: grid;
  font-size: 0.75rem;
  height: 2.5rem;
  line-height: 1.125rem;
  outline: none;
  place-items: center;
  text-decoration: none;
  width: 12.5rem;
}

.content__button:hover {
  background-color: var(--color-hover);
  color: var(--color-text);
  transition: all 1s;
}

.media__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  width: 6.5rem;
}

.media__item-container {
  border-radius: 100%;
  border: 1px solid var(--color-text);
  color: var(--color-text);
  display: grid;
  height: 28px;
  place-items: center;
  text-decoration: none;
  width: 28px;
}

.media__item-container:hover {
  border-color: #ff52c1;
  color: #ff52c1;
  transform: scale(1.2);
  transition: all 1s;
}

@media only screen and (min-width: 1440px) {
  main {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--color-background-card);
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: start;
  }

  .card {
    background-size: 90% 100%;
    background: url(../images/bg-desktop.svg);
    background-repeat: no-repeat no-repeat;
    grid-template-columns: repeat(2, 45rem);
    grid-template-rows: 50rem;
  }

  .card__background--mobile {
    background: none;
  }

  .card__container-top {
    padding: 0;
  }

  .card__logo {
    height: 2.5rem;
    left: -6%;
    margin-bottom: 3.5rem;
    margin-top: 4rem;
    position: relative;
    width: 15rem;
    margin-left: 4rem;
  }

  .card__mockup {
    height: 33rem;
    width: 46rem;
    margin-left: 4rem;
  }

  .content__container {
    align-items: flex-start;
    margin-left: 7rem;
    margin-right: 5.3125rem;
    margin-top: 14.5rem;
    text-align: left;
  }

  .content__heading {
    font-size: 2.5rem;
    line-height: 3.75rem;
    margin-bottom: 1.5rem;
    padding-right: 3rem;
    width: 100%;
  }

  .content__text {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.6875rem;
    margin-bottom: 1.5rem;
    padding-right: 3rem;
    padding: 0;
  }

  .content__button {
    border-radius: 1.75rem;
    font-size: 1.125rem;
    height: 3.5rem;
    margin-bottom: 11.4375rem;
    width: 12.5rem;
  }

  .media__container {
    justify-content: flex-end;
    margin-top: 0;
    padding-right: 1rem;
    width: 100%;
  }

  .media__item-container {
    margin-left: 1rem;
  }
}
